<div>
    <h1>{{temp === 'active' ? 'Active' : temp === 'complete' ? 'Completed' : ''}} Todo List</h1>
</div>
<hr>
<table class="table table-hover mt-4 border">
    <thead>
        <tr style="background-color: rgba(255, 191, 0, 0.297);">
            <th></th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of todoList; let i = index;">
            <ng-container
                *ngIf="(temp === 'active' && !item.status) || (temp === 'complete' && item.status) || temp === 'list'">
                <th scope="col"><input type="checkbox" [checked]="item.status"
                        (click)="checkedTodo(item.id,item.status)">
                </th>
                <th scope="row" id="id">{{item.id}}</th>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date | date : 'dd-MMM-yyyy HH:mm aa'}}</td>
                <td>
                    <mat-icon type="button" class="text-primary me-3" (click)="editTodo(item)">edit</mat-icon>
                    <mat-icon type="button" class=" text-danger" (click)="deleteTodo(i)">delete</mat-icon>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>
<ng-container
    *ngIf="(activeCount === 0 && temp === 'active') || (completeCount === 0 && temp === 'complete') || (todoList.length === 0 && temp === 'list')">
    <h5 class="text-danger text-center">No To-Do Found</h5>
</ng-container>