<div class="container d-flex justify-content-end">
    <button class="btn btn-primary mt-3 fw-semibold" (click)="addTodo()"
        style="background-color: #ff8800; color:black">+
        Add Todo</button>
</div>
<div>
    <h1>{{temp === 'active' ? 'Active' : temp === 'complete' ? 'Completed' : ''}} Todo List</h1>
</div>
<hr>
<table class="table table-hover mt-4 border">
    <thead>
        <tr style="background-color: rgba(255, 191, 0, 0.297);">
            <th></th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Created Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of todoList; let i = index;">
            <ng-container
                *ngIf="(temp === 'active' && !item.status) || (temp === 'complete' && item.status) || temp === 'list'">
                <th scope="col"><input type="checkbox" class="form-check-input" [checked]="item.status"
                        (click)="checkedTodo(item.id,item.status)">
                </th>
                <th scope="row" id="id">{{item.id}}</th>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date | date : 'dd-MMM-yyyy HH:mm aa'}}</td>
                <td>
                    <i type="button" class="bi bi-pencil-square text-primary me-3 fs-4" (click)="editTodo(item)"></i>
                    <i type="button" class="bi bi-trash3-fill text-danger fs-4" (click)="deleteTodo(i)"></i>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>
<ng-container *ngIf="activeCount === 0 && temp === 'active'">
    <h5 class="text-danger text-center">No Active ToDos</h5>
</ng-container>
<ng-container *ngIf="completeCount === 0 && temp === 'complete'">
    <h5 class="text-danger text-center">No Completed ToDos</h5>
</ng-container>
<ng-container *ngIf="todoList.length === 0 && temp === 'list'">
    <h5 class="text-danger text-center">No ToDos Found</h5>
</ng-container>