<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/watch1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>This card has divider and indeterminate progress as footer</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Atque dolorum neque incidunt hic deserunt alias dolores 
            recusandae temporibus cupiditate eum voluptas sequi non, 
            quam, tenetur corrupti quasi accusamus, numquam nam?</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
</div>
