<div class="container">
    <div class="h-auto" style="padding: 40px 100px;">
        <h1>{{editMode ? 'Edit' : 'Add'}} User</h1>
        <form class="row g-3" [formGroup]="addEditUserForm" (ngSubmit)="saveData()">
            <div class="col-md-6">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname">
                <small class="text-danger" *ngIf="
                    addEditUserForm.get('firstname').invalid &&
                    (addEditUserForm.get('firstname').touched || submit)
                  ">*First Name is
                    Required.</small>
            </div>
            <div class="col-md-6">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname">
                <small class="text-danger" *ngIf="
                    addEditUserForm.get('lastname').invalid &&
                    (addEditUserForm.get('lastname').touched || submit)
                  ">*Last Name is
                    Required.</small>
            </div>
            <div class="col-md-6">
                <label for="username" class="form-label">User Name</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <small class="text-danger" *ngIf="
                    addEditUserForm.get('username').invalid &&
                    (addEditUserForm.get('username').touched || submit)
                  ">*Username is
                    Required.</small>
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" maxlength="12" formControlName="password">
                <ng-container
                    *ngIf="addEditUserForm.get('password').invalid && (addEditUserForm.get('password').touched || submit)">

                    <small *ngIf="addEditUserForm.get('password').errors?.['required']" class="text-danger">*Password is
                        Required.</small>
                    <small
                        *ngIf="addEditUserForm.get('password').dirty && addEditUserForm.get('password').errors?.['pattern']"
                        class="text-danger">
                        *Password must contain at least
                        <pre>One Uppercase latter, One Lowercase latter
One Digit, One special character required.</pre>
                    </small>
                </ng-container>
                <!-- <small class="text-danger" *ngIf="pass.invalid && (pass.touched || myform.submitted)">*Plase Enter
                valid Password.</small> -->
            </div>

            <div class="col-12 d-flex align-items-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="ms-3" style="text-decoration: none;" [routerLink]="['/users']"
                    routerLinkActive="router-link-active">Cancel</a>
            </div>
        </form>
    </div>
</div>