::ng-deep .tooltip {
    font-size: 13px;
    padding: 2px;
  }
::ng-deep .tooltip-delete {
    background: red;
    font-size: 13px;
    padding: 2px;
  }
  .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }