<p class="mt-3">***This Print Using Custom ELement.</p>
<ul class="list-group mt-3" style="list-style-type: none;">
    <li class="align-items-center">
        Apple🍎
        <span class="badge bg-primary rounded-pill ms-5">₹100/kg</span>
    </li>
    <li class="align-items-center">
        Banana🍌
        <span class="badge bg-primary rounded-pill ms-4">₹60/kg</span>
    </li>
    <li class="align-items-center">
        Kiwi🥝
        <span class="badge bg-primary rounded-pill ms-5">₹500/kg</span>
    </li>
</ul>
