<div class="ms-5 me-5 mt-3">

    <h1 class="text-center" style="color: cadetblue;font-size: 55px;">Statements</h1>
    <div class="d-flex justify-content-end">
        <button mat-raised-button color="accent" class="" (click)="add()"> + Add Income/Expense</button>
    </div>
    <div class="bg-light rounded shadow h-200 p-3 mt-3">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="mb-3" style="color: cornflowerblue;">Transactions</h2>
            <div class="search">
                <mat-form-field appearance="outline">
                    <mat-label>
                        <mat-icon>search</mat-icon>
                        Search
                    </mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. dinner" #input>
                </mat-form-field>
            </div>
        </div>
        <div>
            <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortActive="id"
                matSortDirection="desc" matSortDisableClear>

                <!-- Date Column-->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.date | date : 'dd-MM-yyyy'}} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                </ng-container>

                <!-- Amount Column -->
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                    <td mat-cell *matCellDef="let row"
                        [ngClass]="{'income' : row.type === 'income', 'expense' : row.type === 'expense'}">
                        {{row.amount}} </td>
                </ng-container>

                <!-- Note Column -->
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Note </th>
                    <td mat-cell *matCellDef="let row"> {{row.note}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="edit(row)">
                                <mat-icon color="primary">edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="delete(row)">
                                <mat-icon color="warn">delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <ng-container>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="6" *ngIf="!noDataTemp">No data matching the filter {{input.value}}
                        </td>
                        <td class="mat-cell text-danger text-center" colspan="6" *ngIf="noDataTemp">No data Found</td>
                    </tr>
                </ng-container>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>

<!-- <mat-icon type="button" color="primary" >edit</mat-icon>
<mat-icon type="button" class="ms-2" color="warn" >delete</mat-icon> -->