<div class="ms-5 me-5 mt-3">
    <div class="d-flex justify-content-end">
        <button mat-raised-button color="accent" class="" (click)="add()"> + Add Income/Expense</button>
    </div>
    <h1 class="text-center">Categories</h1>
    <div class="bg-light rounded shadow h-200 p-3 mt-5">
        <h2 class="mb-3" style="color: cornflowerblue;">Transactions</h2>
        <div>
            <table mat-table [dataSource]="dataSource">

                <ng-container [matColumnDef]="item" *ngFor="let item of displayedColumns">
                  <th mat-header-cell *matHeaderCellDef> {{item}} </th>
                  <td mat-cell *matCellDef="let element"> {{element[item]}} </td>
                </ng-container>
                <!-- <ng-container [matColumnDef]="item">
                  <th mat-header-cell *matHeaderCellDef> {{item}} </th>
                  <td mat-cell *matCellDef="let element"> {{element[item]}} </td>
                </ng-container> -->
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
</div>
