a {
    text-decoration: none;
}

.ng-submitted .ng-invalid.form-control {
    border-color: red;
    box-shadow: 0 0 5px inset #e78b8b;
}

.ng-invalid.ng-touched.form-control {
    border-color: red;
    box-shadow: 0 0 5px inset #e78b8b;
}

.required::after {
    color: red;
    content: ' *';
    display: inline;
}

textarea {
    resize: none;
}