form {
    max-width: 400px;
    margin: auto;
    background-color: #ff650047 !important;

}

a {
    text-decoration: none;
    margin-left: 15px;
}

.ng-submitted .ng-invalid.form-control {
    border-color: red;
    box-shadow: 0 0 5px inset #e78b8b;
}

.ng-invalid.ng-touched.form-control {
    border-color: red;
    box-shadow: 0 0 5px inset #e78b8b;
}