<h1 class="text-center mt-3" style="color: #ff6707cc;">{{prodId ? 'Edit' : 'Add'}} Product</h1>

<div class="mt-4">
  <form class="row g-3 p-3 rounded shadow" (ngSubmit)="add()" [formGroup]="addProductForm">
    <div class="col-md-12">
      <label for="name" class="form-label">Product Name</label>
      <input type="text" class="form-control" id="name" name="name" formControlName="name">
      <small class="text-danger" *ngIf="
                    addProductForm.get('name').invalid &&
                    (addProductForm.get('name').touched || addProductForm.get('name').dirty || submit)
                  ">*Product Name is
        Required.</small>
    </div>
    <div class="col-md-12">
      <label for="slug" class="form-label">Slogen</label>
      <input type="text" class="form-control" id="slug" name="slug" formControlName="slug">
      <small class="text-danger" *ngIf="
                    addProductForm.get('slug').invalid &&
                    (addProductForm.get('slug').touched || addProductForm.get('slug').dirty || submit)
                  ">*Slogen is
        Required.</small>
    </div>
    <div class="col-md-12">
      <label for="description" class="form-label">Description</label>
      <textarea type="text" class="form-control" id="description" name="description" formControlName="description"
        rows="2"></textarea>
      <small class="text-danger" *ngIf="
                    addProductForm.get('description').invalid &&
                    (addProductForm.get('description').touched || addProductForm.get('description').dirty || submit)
                  ">*Description is
        Required.</small>
    </div>
    <div class="col-md-12">
      <label for="price" class="form-label">Price</label>
      <input type="tel" class="form-control" id="price" name="price" maxlength="3" formControlName="price"
        (keypress)="isNumber($event)">
      <ng-container *ngIf="addProductForm.get('price').invalid && (addProductForm.get('price').touched || submit)">
        <small class="text-danger" *ngIf="addProductForm.get('price').errors?.['required']">*Price is
          Required.</small>
        <small class="text-danger" *ngIf="
        addProductForm.get('price').dirty && addProductForm.get('price').errors?.['pattern']">*Price must be greater
          than 0.</small>
      </ng-container>
    </div>

    <div class="col-md-6" *ngIf="!prodId">
      <label for="image" class="form-label">Choose Product Picture</label>
      <input type="file" id="image" (change)="onFileSelects($event)" #fileinput hidden>
      <div>
        <button type="button" class="btn btn-warning" (click)="fileinput.click()"><i
            class="bi bi-paperclip text-dark"></i></button>
        <span class="ps-2"> {{fileHolder?.name}}</span>
      </div>
      <small class="text-danger" *ngIf="fileHolder === undefined && submit">*Product Photo is
        Required.</small>
    </div>


    <div class="col-12 d-flex align-items-center">
      <button type="submit" class="btn btn-primary me-3">{{prodId ? 'Update' : 'Add'}}</button>
      <a style="text-decoration: none;margin-left: 10px; color: blue;" type="button"
        (click)="location.back()">Cancel</a>
    </div>
  </form>
</div>