form{
    background-color: #ff650047 !important;
    max-width: 700px;
    margin: auto;
    font-weight: 500;
}
a {
    text-decoration: none;
    margin-left: 15px;
}

.ng-submitted .ng-invalid.form-control {
    border-color: red;
    box-shadow: 0 0 5px inset #e78b8b;
}

.ng-invalid.ng-touched.form-control {
    border-color: red;
    box-shadow: 0 0 5px inset #e78b8b;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}