<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" (click)="redirect('/home','Home')" [ngClass]="{active: isActive('Home')}">
            LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item" *ngFor="let item of navList">
                    <a class="nav-link" (click)="redirect(item.routeLink,item.name)"
                        [ngClass]="{active: isActive(item.name)}">
                        {{item.name}}</a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <!-- <ul class="m-3" style="list-style-type: none;">
                    <li class="nav-item" (change)="selectmonth()">
                        <a href="#" class="nav-link">
                            <select name="" id="" style="border: none;">
                                <option *ngFor="let i of months">{{i}}</option>
                            </select>
                        </a>
                    </li>
                </ul> -->

                <li class="nav-item me-2 d-flex m-auto">
                    <!-- <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a> -->
                    <a class="nav-link" (click)="redirect('/login','Login')"
                        [ngClass]="{active: isActive('Login')}">Login</a>
                </li>

                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>