<div class="ms-4">
    <h1>Register</h1>
</div>

<div class="bg-white">
    <hr>
    <div class="m-4">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname">
                <div class="invalid-feedback"></div>
                <small class="text-danger" *ngIf="
                  registerForm.get('firstname').invalid &&
                  (registerForm.get('firstname').touched || submit)
                ">*First Name is
                    Required.</small>
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname">
                <small class="text-danger" *ngIf="
                  registerForm.get('lastname').invalid &&
                  (registerForm.get('lastname').touched || submit)
                ">*Last Name is
                    Required.</small>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <small class="text-danger" *ngIf="
                  registerForm.get('username').invalid &&
                  (registerForm.get('username').touched || submit)
                ">*Username is
                    Required.</small>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" maxlength="12">
                <ng-container
                    *ngIf="registerForm.get('password').invalid && (registerForm.get('password').touched || submit)">

                    <small *ngIf="registerForm.get('password').errors?.['required']" class="text-danger">*Password is
                        Required.</small>
                    <small
                        *ngIf="registerForm.get('password').dirty && registerForm.get('password').errors?.['pattern']"
                        class="text-danger">
                        *Password must contain at least
                        <pre>One Uppercase latter, One Lowercase latter
One Digit, One special character required.</pre>
                    </small>
                </ng-container>
            </div>
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary me-3">Register</button>
                <a [routerLink]="['/login']" routerLinkActive="router-link-active">Cancel</a>
            </div>
        </form>
    </div>
    <hr>
</div>