<div class="container mt-4">
    <h1 class="text-center mb-3">{{id ? 'Update' : 'Add'}} Spend Money</h1>
    <form action="" class="rounded shadow example-form p-3" [formGroup]="spendForm" (ngSubmit)="onSave()">

        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Select an Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="income" (click)="select()">Income</mat-option>
                <mat-option value="expense" (click)="select()">Expense</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let option of categoryOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Note</mat-label>
            <input matInput placeholder="Ex: dinner" formControlName="note">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Amount</mat-label>
            <input type="number" matInput placeholder="Ex: 200" formControlName="amount">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <p class="mt-3">
            <button mat-raised-button color="accent"> {{id ? 'Update' : 'Add'}}</button>
            <button type="button" mat-button color="primary" class="ms-2" (click)="location.back()">Cancel</button>
        </p>
        </form>
</div>