<div class="container m-5">

    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="text-info" style="font-size: 50px;">Income</mat-card-title>
                </mat-card-header>
                
                <mat-card-content style="font-size: 25px;margin-left: 15px;">
                   Total : <span style="color:green">₹2000</span>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button style="margin-left: 15px;background-color:orange;color:white">View</button>
                </mat-card-actions>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>gdgdgdgdgdgdgf</p>
                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    <mat-card-title>Shiba Inu</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>This card has divider and indeterminate progress as footer</p>
                    <p>gdgdgdgdgdgdgf</p>
                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                <mat-card-footer>
                </mat-card-footer>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>


</div>